mixin s-sert()
    section.s-sert&attributes(attributes)
        .s-sert__inner
            h2.s-sert__title Образец вашего сертификата
            .sert
                img(src="assets/img/s-sert-sertificate.png" alt="").s-sert__img
