.s-sert
    background #fff url(img/s-sert-bg.jpg) no-repeat center bottom
    &__inner
        container(1140px)
        padding 90px 10px 30px
        min-height1 1126px

    &__title
        color #002d1a
        font()
        fs(26px,50px)
        line-height 1
        text-align center
        margin 0 0 140px

    &__img
        max-width 100%
