.form-calc
    display block
    max-width 752px
    min-height 500px
    background-color white
    box-shadow 0 0 50px rgba(0, 0, 0, 0.4)
    padding 75px 20px 50px
    margin auto
    +below(479px)
        padding 70px 20px 30px

    &--min
        max-width 652px

    &__title
        max-width 500px
        color #002d1a
        font(Bold)
        fs(26px,40px)
        line-height 1.2
        text-align center
        margin 0 auto 1.6em
        +below(479px)
            line-height 1
            margin-bottom .8em
        ^[0]--min &
            margin-bottom .8em

    &__text
        color #002d1a
        font()
        fs(18px,24px)
        font-weight 400
        text-align center
        margin 0 auto 1.65em
        +below(479px)
            margin-bottom 30px
        ^[0]--min &
            margin-bottom 2em
            +below(479px)
                margin-bottom 1em

    &__row
        width 100%
        max-width 350px
        display flex
        flex-flow row nowrap
        justify-content space-between
        margin 0 auto
        +below(767px)
            margin 0 auto
        +below(479px)
            flex-wrap wrap
            justify-content center

    .empty-checkboxes
        display none
        width 100%
        color red
        font()
        fs(14px,18px)
        line-height 1
        text-align center
        padding 0px 20px
        margin 0px auto -1em
        &.hidden
            display none !important
        +below(767px)
            margin-bottom 0

    &__col
        display inline-block
        flex 0 1 auto
        +below(479px)
            flex 0 1 180px
            display block

    &__group
        display block
        width 100%
        max-width 330px
        margin 45px auto 0
        +below(767px)
            margin-top 20px

    &__input
        display block
        margin 0 auto 20px

    &__button
        fs(18px,26px)
        margin 30px auto 25px

    &__privacy
        color #bbb
        font()
        fs(14px,18px)
        line-height 1
        text-align center
        margin 0 auto


.popup-thankyou
    display block
    max-width 400px
    background-color white
    box-shadow 0 0 50px rgba(0, 0, 0, 0.4)
    padding 75px 20px 50px
    margin auto
    +below(479px)
        padding 70px 20px 30px

    &__title
        max-width 500px
        color #002d1a
        font(Bold)
        fs(30px,40px)
        line-height 1.2
        text-align center
        margin 0 auto 0.8em

    &__text
        color #002d1a
        font()
        fs(18px,24px)
        font-weight 400
        text-align center
        margin 0 auto 2em

    &__button
        fs(18px,26px)
        margin 0 auto
        max-width 280px

.popup-privacy
    display block
    width 100%
    height auto
    max-width 1000px
    min-height 420px
    background #fff
    padding 70px 80px 50px
    position relative
    margin 20px auto
    +below(479px)
        padding 70px 20px 30px

    &__content
        display block
        width 100%
        height 100%
        color #00060c
        font()
        fs(16px,18px)
        line-height 1.4
        text-align left

        h2
            color #002d1a
            font(Bold)
            fs(22px,30px)
            line-height 1.2
            text-align center
            text-transform uppercase
            margin 0 auto 50px

        h3
            color #002d1a
            font(Bold)
            fs(20px,24px)
            line-height 1.2
            text-align center
            margin 0 0 25px

        p
            line-height 1.3
            margin 0 0 20px

        a
            color #41af82
            text-decoration: underline
            &:hover
                color @color
                text-decoration none

.popup
    z-index 9999
    .mfp-close
        display inline-block
        background none
        color #e1e1e1
        font(Extra)
        font-size 60px
        line-height 1
        text-align center
        border none
        padding 0
        position absolute
        opacity 1
        top 5px
        right 14px
        transition color 0.3s ease
        &:hover
            color #41af82
            opacity 1
            text-shadow none


.mfp-zoom-in .popup
    opacity 0
    transition all 0.2s ease-in-out
    transform scale(0.8)

.mfp-zoom-in.mfp-bg
    opacity 0
    transition all 0.3s ease-out

.mfp-zoom-in.mfp-ready .popup
    opacity 1
    transform scale(1)

.mfp-zoom-in.mfp-ready.mfp-bg
    opacity 0.8

.mfp-zoom-in.mfp-removing .popup
    transform scale(0.8)
    opacity 0

.mfp-zoom-in.mfp-removing.mfp-bg
    opacity 0

.mfp-counter
    display none
