mixin s-progress()
    section.s-progress&attributes(attributes)
        .s-progress__inner
            h2.s-progress__title Мы всегда учимся у лучших и применяем всё это в работе с Вами
            img(src="assets/img/s-progress-1.png" alt="").s-progress__img.s-progress__img--1
            p.s-progress__text Мы посещаем тренинги, семинары, мастер-классы, постоянно развиваемся и применяем наилучшие практики в своей деятельности
            img(src="assets/img/s-progress-2.png" alt="").s-progress__img.s-progress__img--2
