mixin s-advs()
    section.s-advs&attributes(attributes)
        .s-advs__inner
            h2.s-advs__title Какие <span>конкурентные преимущества</span> <br>вы получите с новым сертификатом?
            ol.s-advs__list
                li.s-advs__item
                    h3.s-advs__caption Улучшенное качество <br>продукции или услуг
                    p.s-advs__text Вы сможете оптимизировать структуру предприятия, найти точки роста и повысить качество продукции и сервиса.
                li.s-advs__item
                    h3.s-advs__caption Больше клиентов <br>и заказов
                    p.s-advs__text Улучшив свою продукцию, товары или услуги, вы получите больше довольных клиентов.
                li.s-advs__item
                    h3.s-advs__caption Больше выигранных <br>тендеров
                    p.s-advs__text Сертификат позволит вам получить преимущество при участии в тендерах и в гос. закупках.
                li.s-advs__item
                    h3.s-advs__caption Сокращение <br>убытков
                    p.s-advs__text Устранение некоторых проблем в организации сократит часть издержек и позволит избежать штрафов.
                li.s-advs__item
                    h3.s-advs__caption Улучшенный <br>имидж
                    p.s-advs__text Ваша компания приобретет статус стабильной и успешной организации, которой могут доверять серьезные заказчики, поставщики и партнеры.
                li.s-advs__item
                    h3.s-advs__caption Доверие банков <br>и страховых компаний
                    p.s-advs__text Наличие сертификатов повысит степень доверия к вашей компании при страховании и оформлении кредитов
