mixin s-options()
    section.s-options&attributes(attributes)
        .s-options__inner
            h2.s-options__title Выберите необходимый сертификат
            .opt.s-options__options
                ul.opt__tabs
                    li.opt__tab.opt__tab--1.active
                        a(href="#").opt__tab-box
                            h3.opt__tab-title ISO 9001
                            p.opt__tab-descr Менеджмент качества
                            p.opt__tab-more подробнее
                    li.opt__tab.opt__tab--2
                        a(href="#").opt__tab-box
                            h3.opt__tab-title ISO 14001
                            p.opt__tab-descr Экологический менеджмент
                            p.opt__tab-more подробнее
                    li.opt__tab.opt__tab--3
                        a(href="#").opt__tab-box
                            h3.opt__tab-title ISO 50001
                            p.opt__tab-descr Энергетический менеджмент
                            p.opt__tab-more подробнее
                    li.opt__tab.opt__tab--4
                        a(href="#").opt__tab-box
                            h3.opt__tab-title ISO 22000
                            p.opt__tab-descr Менеджмент безопасности пищевых продуктов
                            p.opt__tab-more подробнее
                    li.opt__tab.opt__tab--5
                        a(href="#").opt__tab-box
                            h3.opt__tab-title ISO 29001
                            p.opt__tab-descr Нефтегазовая промышленность
                            p.opt__tab-more подробнее
                    li.opt__tab.opt__tab--6
                        a(href="#").opt__tab-box
                            h3.opt__tab-title OHSAS 18001
                            p.opt__tab-descr Безопасность и здоровье
                            p.opt__tab-more подробнее

                ul.opt__pages
                    li.opt-page.opt-page--1.opt__page.active
                        .opt-page__left
                            .opt-page__in
                                h3.opt-page__title ISO 9001
                                p.opt-page__subtitle Сертификация систем менеджмента качества
                                p.opt-page__txt ISO 9001 может быть хорошим другом или злейшим врагом – но только в том случае, если он есть не у вас, а у ваших конкурентов
                                h4.opt-page__list-title Сертификат ISO9001 официально и публично подтверждает эффективность и конкурентоспособность вашей системы менеджмента качества. Таким образом, ISO9001 даёт вам:
                                ul.opt-page__list
                                    li.opt-page__item Конкурентное преимущество при участии в тендерах и государственных закупках;
                                    li.opt-page__item Рост инвестиционной привлекательности компании;
                                    li.opt-page__item Доверие настоящих и интерес будущих клиентов;
                                    li.opt-page__item Положительный имидж компании и дополнительная бесплатная реклама;
                                    li.opt-page__item И многое другое…
                        .opt-page__right
                            img(src="assets/img/s-options-sert.jpg" alt="").opt-page__img

                    li.opt-page.opt-page--2.opt__page
                        .opt-page__left
                            .opt-page__in
                                h3.opt-page__title ISO 14001
                                p.opt-page__subtitle Сертификация систем экологического менеджмента
                                p.opt-page__txt Ваши клиенты заботятся об окружающей среде. Покажите им, что разделяете их мировоззрение – найдите общий язык со своими заказчиками и деловыми партнерами.
                                h4.opt-page__list-title Сертификат ISO 14001 подтверждает, что ваша компания соблюдает свои обязательства в сфере охраны окружающей среды и вы готовы к диалогу со всеми заинтересованными сторонами. Такая открытость и прозрачность непременно повлечет за собой и материальные преимущества:
                                ul.opt-page__list
                                    li.opt-page__item Привлечение новых клиентов;
                                    li.opt-page__item Повышение ценности компании и её имиджа;
                                    li.opt-page__item Рост доходов.
                        .opt-page__right
                            img(src="assets/img/s-options-sert.jpg" alt="").opt-page__img

                    li.opt-page.opt-page--3.opt__page
                        .opt-page__left
                            .opt-page__in
                                h3.opt-page__title ISO 50001
                                p.opt-page__subtitle Сертификация систем энергоменеджмента
                                p.opt-page__txt С ISO 50001 компания признаётся как уверенный деловой партнер и законопослушный участник мирового рынка среди иностранных инвесторов и надзорных органов государства.
                                h4.opt-page__list-title Сертификат ISO 50001 даёт вашей организации несколько весомых дополнений:
                                ul.opt-page__list
                                    li.opt-page__item Рост инвестиционной привлекательности компании на рынке за          счёт снижения рисков в энергоснабжении и энергопотреблении;
                                    li.opt-page__item Хороший имидж перед надзорными органами и потребителями продукции компании (благодаря демонстрации точного соблюдения всех нормативно-правовых требований к защите окружающей среды, энергоэффективности и рациональному использованию природных ресурсов);
                                    li.opt-page__item Эффективный маркетинговый инструмент в рекламной кампании вашей организации;
                                    li.opt-page__item Получение потенциальных преимуществ от налоговых органов, а также источника дополнительных средств во время продажи квот на выбросы парниковых газов;
                                    li.opt-page__item Рост общей конкурентоспособности за счёт всей совокупности положительных факторов.
                        .opt-page__right
                            img(src="assets/img/s-options-sert.jpg" alt="").opt-page__img

                    li.opt-page.opt-page--4.opt__page
                        .opt-page__left
                            .opt-page__in
                                h3.opt-page__title ISO 22000
                                p.opt-page__subtitle Сертификация системы менеджмента безопасности пищевых продуктов
                                p.opt-page__txt В любой стране мира наличие знака сертификации по ISO 22000 на упаковке продукта значительно повышает доверие потребителя.
                                p.opt-page__txt Сертификат ISO 22000 – это демонстрация повышенной заботы компании о качестве и безопасности своей продукции.
                                h4.opt-page__list-title Кроме хорошей рекламы, сертификат ISO 2200 – это:
                                ul.opt-page__list
                                    li.opt-page__item Значительное конкурентное преимущество;
                                    li.opt-page__item Международное признание соответствия вашей продукции стандартам качества и безопасности;
                                    li.opt-page__item Выявление проблем, связанных с качеством продукции, на раннем этапе;
                                    li.opt-page__item Доверие со стороны контролирующих органов;
                                    li.opt-page__item Устранение потенциальных проблем, связанных с проверками и штрафами.
                                p.opt-page__txt Окончательная стоимость получения сертификата определяется после первичного анализа заявки и представленной документации.
                        .opt-page__right
                            img(src="assets/img/s-options-sert.jpg" alt="").opt-page__img

                    li.opt-page.opt-page--5.opt__page
                        .opt-page__left
                            .opt-page__in
                                h3.opt-page__title SO/TS 29001
                                p.opt-page__subtitle Сертификация систем менеджмента качества в нефтяной, нефтехимической и газовой промышленности
                                p.opt-page__txt Сертификат ISO/TS 29001 – это визитная карточка элитарного и привилегированного бизнеса – нефтегазопромыслового сектора.
                                h4.opt-page__list-title С сертификатом ISO/TS 29001 вы выходите из тени рядовых компаний и получаете следующие конкурентные преимущества:
                                ul.opt-page__list
                                    li.opt-page__item Увеличение привлекательности компании для иностранных бизнес-партнеров;
                                    li.opt-page__item Улучшение имиджа компании и её конкурентоспособности;
                                    li.opt-page__item Улучшенные условия кредитования от банков и страхования от страховых организаций;
                                    li.opt-page__item Участие в международных и национальных тендерах на более выгодных условиях.
                        .opt-page__right
                            img(src="assets/img/s-options-sert.jpg" alt="").opt-page__img

                    li.opt-page.opt-page--6.opt__page
                        .opt-page__left
                            .opt-page__in
                                h3.opt-page__title OHSAS 18001
                                p.opt-page__subtitle Сертификация систем менеджмента профессиональной безопасности и здоровья
                                p.opt-page__txt Хорошо организованная система охраны труда и здоровья на предприятии – это выгодно и экономно. Ваш бизнес может убить 1 несчастный случай или сразу несколько – не стоит испытывать его на прочность.
                                ul.opt-page__list
                                    li.opt-page__item Сокращение убытков от производственных несчастных случаев;
                                    li.opt-page__item Отсутствие больших штрафных санкций от надзорных органов;
                                    li.opt-page__item Сохранение уровня трудоспособности работников и беспрерывности рабочего процесса.
                                p.opt-page__txt Всё это вы получите в результате внедрения и сертификации по международному стандарту OHSAS 18001. От случайностей никто не застрахован. Но попытаться их предотвратить или свести к минимуму возможные последствия – ваша обязанность как умного предпринимателя.
                        .opt-page__right
                            img(src="assets/img/s-options-sert.jpg" alt="").opt-page__img

                button.opt__btn-more <span class="opt__expand">Читать далее</span> <span class="opt__collapse">Свернуть</span>

            .s-options__btn-container
                button.button.s-options__button.js-popup-form-calc Рассчитать стоимость

