mixin s-team()
    section.s-team&attributes(attributes)
        .s-team__inner
            h2.s-team__title Наша сплоченная команда
            +pop-info(class="pop-info--right pop-info--min s-team__pop-info")
                <strong>TeamExper SM регулярно оказывает благотворительную поддержку «Общественному фонду КЗ».</strong>
            img(src="assets/img/s-team-photo.png" alt="").s-team__photo
            ul.s-team__list
                li.s-team__item
                    h2.s-team__name Исмагулова <br><span>Шолпан Амангельдиевна</span>
                    .s-team__descr
                        p Директор и эксперт-аудитор в области систем менеджмента, экологического менеджмента и профессиональной безопасности с опытом работы 15 лет. Провела более 500 аудитов, 200 из них – в качестве руководителя группы.
                        p Автор и активный лектор семинаров по системам менеджмента качества, менеджмента профессиональной безопасности и здоровья, экологического менеджмента, системы менеджмента социальной ответственности и проч.
                        p Провела аудит и сертификацию систем менеджмента качества в таких компаниях, как АО «КазМунайГаз» (г.Астана), АО «КазТрансОйл» (Запа«Богатырь-Комир» (г.Экибастуз), Компании Арселор-Миттал: Представительства «Оркен-Атасу» и «Оркен-Атансор» ТОО «Оркен» (г.Каражал. г.Степногорск),   ТОО «Кнауф Гипс Капчагай» (г.Капчагай), АО «Атырауский нефтеперерабатывающий завод» (г.Атырау) и во многих других.
                    a(href="#").s-team__more <span class="s-team__more-expand">подробнее</span> <span class="s-team__more-collapse">свернуть</span>

                li.s-team__item
                    h2.s-team__name Тё <br><span>Марина Григорьевна</span>
                    .s-team__descr
                        p Руководитель Органа по сертификации, эксперт-аудитор в области систем менеджмента качества, экологического менеджмента и профессиональной безопасности и здоровья. Опыт работы по специальности – 15 лет.
                        p Участвовала в проведении более чем 500 аудитов, в 200 из которых выступала в качестве руководителя группы.
                        p Автор и лектор большого количества курсов по профильным направлениям.
                        p Имеет опыт проведения сертификации в следующих компаниях: АО «КазМунайГаз» (г.Астана), АО «КазТрансОйл» (г.Астана),  ТОО «МАЭК-Казатомпром» (г. Актау), АО «Казахтелеком», Республиканский научно-исследовательский институт охраны труда (РНИИОТ г.Астана), КарачаганакПетролиумОперейтинг Б.В. (г.Аксай), АО «Конденсат» (г.Аксай), АО «Атырауский нефтеперерабатывающий завод» (г.Атырау) и проч.

                    a(href="#").s-team__more <span class="s-team__more-expand">подробнее</span> <span class="s-team__more-collapse">свернуть</span>

                li.s-team__item
                    h2.s-team__name Шкокова <br><span>Галина Васильевна</span>
                    .s-team__descr
                        p Заместитель руководителя Органа по сертификации, эксперт-аудитор в области систем менеджмента качества, экологического менеджмента и профессиональной безопасности с опытом работы 15 лет.
                        p Является автором и лектором многочисленных тренингов, курсов и семинаров по профильному направлению.
                    a(href="#").s-team__more <span class="s-team__more-expand">подробнее</span> <span class="s-team__more-collapse">свернуть</span>

            .s-team__slider
                .sky-carousel
                    .sky-carousel-wrapper
                        ul.sky-carousel-container
                            li
                                img(src="assets/img/team/1.jpg" alt="")
                                .sc-content
                                    h2 Орманова <br>Рымкуль Нурланкызы
                                    p Эксперт-аудитор  систем менеджмента качества. <br>Стаж работы в области систем менеджмента – 3 года.
                            li
                                img(src="assets/img/team/2.jpg" alt="")
                                .sc-content
                                    h2 Ким <br>Наталья Ивановна
                                    p Эксперт-аудитор систем менеджмента качества. <br> Стаж работы в области систем менеджмента – 3 года. <br>Опыт проведения семинаров и тренингов в области систем менеджмента.
                            
                            li
                                img(src="assets/img/team/3.jpg" alt="")
                                .sc-content
                                    h2 Темиргалиева <br>Гаухар Сабыржановна
                                    p Специалист по работе с клиентами. Кандидат в эксперты-аудиторы. <br>Стаж работы - 3 года
                            li
                                img(src="assets/img/team/4.jpg" alt="")
                                .sc-content
                                    h2 Молдабекова <br>Дидар Ержановна
                                    p Кандидат в эксперты-аудиторы по системам менеджмента качества. <br>Стаж работы в области систем менеджмента – 6 лет.

                            li
                                img(src="assets/img/team/5.jpg" alt="")
                                .sc-content
                                    h2 Мурзагалиев <br>Асхат Махмудович
                                    p Эксперт-аудитор Государственной системы технического регулирования Республики Казахстан по подтверждению соответствия систем экологического менеджмента. <br>Аттестованный экологический аудитор.Стаж работы в области систем менеджмента – 5 лет.
                            li
                                img(src="assets/img/team/6.jpg" alt="")
                                .sc-content
                                    h2 Бурковская <br>Роза Байжановна
                                    p Эксперт-аудитор в области систем менеджмента качества, экологического менеджмента и профессиональной безопасности и здоровья. Опыт работы – более 5 лет. <br>Автор и лектор большого количества курсов и семинаров по системам менеджмента.
                            li
                                img(src="assets/img/team/7.jpg" alt="")
                                .sc-content
                                    h2 Уриккалиева <br>Лаура Нурлановна
                                    p Эксперт-аудитор системы менеджмента качества. <br>Стаж работы в области систем менеджмента - 3 года.

