.s-questions
    &__inner
        container(1000px)
        padding 120px 20px 180px
        +below(767px)
            padding 95px 20px
        +below(479px)
            padding 75px 20px

    &__title
        display block
        max-width 780px
        color #002d1a
        font()
        fs(24px,40px)
        line-height 1.2
        text-align center
        margin 0 auto 1.5em

    &__button
        margin 0 auto
