mixin s-questions()
    section.s-questions&attributes(attributes)
        .s-questions__inner
            h2.s-questions__title Остались вопросы? Задайте их нашему специалисту прямо сейчас!
            button.button.s-questions__button.js-popup-form-ask Задать вопрос
