mixin footer()
    footer.footer&attributes(attributes)
        .footer__inner
            .footer__left
                img(src="assets/img/footer-logo.png" alt="").footer__logo
                p.footer__copyright <strong>Team Expert SM</strong> &copy; <strong>2016</strong> <br>All Rights Reserved

            .footer__mid
                a(href="tel:87172577967").footer__phone 8 (7172) <strong>577-967</strong>
                address.footer__address Астана, ул. С. Сейфуллина 40, оф.11
                a(href="#popup-privacy").footer__privacy.js-popup
                    span Политика конфиденциальности

            .footer__right
                a(href="http://web-upakovka.ru" target="_blank").footer__developed
                    span Разработка сайта

