mixin s-clients()
    section.s-clients&attributes(attributes)
        .s-clients__inner
            h2.s-clients__title
                span Среди наших клиентов

            .clients-slider.s-clients__slider.owl-carousel.js-clients-slider
                .clients-slider__slide
                    .clients-slider__top
                        img(src="assets/img/s-clients-1.png" alt="").clients-slider__logo
                    p.clients-slider__caption АО «Казстройсистема» Управление Делами Президента РК
                .clients-slider__slide
                    .clients-slider__top
                        img(src="assets/img/s-clients-2.png" alt="").clients-slider__logo
                    p.clients-slider__caption ТОО «СКФ «Монтажспецстрой»
                .clients-slider__slide
                    .clients-slider__top
                        img(src="assets/img/s-clients-3.png" alt="").clients-slider__logo
                    p.clients-slider__caption АО «Трест Средазэнергомонтаж»
                .clients-slider__slide
                    .clients-slider__top
                        img(src="assets/img/s-clients-4.png" alt="").clients-slider__logo
                    p.clients-slider__caption ТОО «Эдем» Строительно-монтажные работы

                .clients-slider__slide
                    .clients-slider__top
                        img(src="assets/img/s-clients-5.png" alt="").clients-slider__logo
                    p.clients-slider__caption АО «Товарная биржа Каспий»
                .clients-slider__slide
                    .clients-slider__top
                        img(src="assets/img/s-clients-6.png" alt="").clients-slider__logo
                    p.clients-slider__caption ТОО «Химзащита Групп»
                .clients-slider__slide
                    .clients-slider__top
                        img(src="assets/img/s-clients-7.png" alt="").clients-slider__logo
                    p.clients-slider__caption АО «811 авторемонтный завод Казахстан Инжиниринг»
                .clients-slider__slide
                    .clients-slider__top
                        img(src="assets/img/s-clients-8.png" alt="").clients-slider__logo
                    p.clients-slider__caption АО «Информационно-учётный центр»

                .clients-slider__slide
                    .clients-slider__top
                        img(src="assets/img/s-clients-9.png" alt="").clients-slider__logo
                    p.clients-slider__caption ТОО «Иртышподводсервис»
                .clients-slider__slide
                    .clients-slider__top
                        img(src="assets/img/s-clients-10.png" alt="").clients-slider__logo
                    p.clients-slider__caption ТОО «Казэнергоэкспертиза»
                .clients-slider__slide
                    .clients-slider__top
                        img(src="assets/img/s-clients-11.png" alt="").clients-slider__logo
                    p.clients-slider__caption ТОО «Idea Business School «IBS»
                .clients-slider__slide
                    .clients-slider__top
                        img(src="assets/img/s-clients-12.png" alt="").clients-slider__logo
                    p.clients-slider__caption ТОО «Кнауф Гипс Тараз»

                .clients-slider__slide
                    .clients-slider__top
                        img(src="assets/img/s-clients-13.png" alt="").clients-slider__logo
                    p.clients-slider__caption ТОО «Торговый дом «Кама-Казахстан»
                .clients-slider__slide
                    .clients-slider__top
                        img(src="assets/img/s-clients-14.png" alt="").clients-slider__logo
                    p.clients-slider__caption ТОО «Топан»
                .clients-slider__slide
                    .clients-slider__top
                        img(src="assets/img/s-clients-15.png" alt="").clients-slider__logo
                    p.clients-slider__caption ТОО «Intelligent Logistics»
                .clients-slider__slide
                    .clients-slider__top
                        img(src="assets/img/s-clients-16.png" alt="").clients-slider__logo
                    p.clients-slider__caption ТОО «Уральский завод полиэтиленовых труб»

                .clients-slider__slide
                    .clients-slider__top
                        img(src="assets/img/s-clients-17.png" alt="").clients-slider__logo
                    p.clients-slider__caption ТОО «Лев Шмунк»
                .clients-slider__slide
                    .clients-slider__top
                        img(src="assets/img/s-clients-18.png" alt="").clients-slider__logo
                    p.clients-slider__caption Группа железнодорожников Казахстана
                .clients-slider__slide
                    .clients-slider__top
                        img(src="assets/img/s-clients-19.png" alt="").clients-slider__logo
                    p.clients-slider__caption ТОО «Озна-Инжиниринг»
                .clients-slider__slide
                    .clients-slider__top
                        img(src="assets/img/s-clients-20.png" alt="").clients-slider__logo
                    p.clients-slider__caption ТОО «СКФ «Монтажспецстрой»

