mixin s-thanks()
    .s-thanks&attributes(attributes)
        .s-thanks__wrapper
            .s-thanks__inner
                .s-thanks__row
                    .s-thanks__col-1
                        a(href="assets/img/thanks/1-big.jpg").js-gallery
                            img(src="assets/img/thanks/1.png" alt="").s-thanks__img
                    .s-thanks__col-2
                        a(href="assets/img/thanks/2-big.jpg").js-gallery
                            img(src="assets/img/thanks/2.png" alt="").s-thanks__img
                    .s-thanks__col-2
                        a(href="assets/img/thanks/3-big.jpg").js-gallery
                            img(src="assets/img/thanks/3.png" alt="").s-thanks__img

                .s-thanks__row.s-thanks__row--2
                    .s-thanks__col-4
                        a(href="assets/img/thanks/4-big.jpg").js-gallery
                            img(src="assets/img/thanks/4.png" alt="").s-thanks__img
                    .s-thanks__col-4
                        a(href="assets/img/thanks/5-big.jpg").js-gallery
                            img(src="assets/img/thanks/5.png" alt="").s-thanks__img
                    .s-thanks__col-4
                        a(href="assets/img/thanks/6-big.jpg").js-gallery
                            img(src="assets/img/thanks/6.png" alt="").s-thanks__img
                    .s-thanks__col-4
                        a(href="assets/img/thanks/7-big.jpg").js-gallery
                            img(src="assets/img/thanks/7.png" alt="").s-thanks__img
            .s-thanks__bottom
