include ../pop-info/pop-info

mixin s-steps()
    section.s-steps&attributes(attributes)
        .s-steps__inner
            h2.s-steps__title ЛайфХак: Как завоевать доверие потребителей
            ol.s-steps__list
                li.s-steps__item
                    .step.step--1
                        .step__caption Сбор документов
                        .step__picture
                            img(src="assets/img/s-steps-1.jpg" alt="").step__img
                li.s-steps__item
                    .step.step--2
                        .step__caption Расчет стоимости
                        .step__picture
                            img(src="assets/img/s-steps-2.jpg" alt="").step__img
                li.s-steps__item
                     .step.step--3
                        .step__caption Предоплата
                        .step__picture
                            img(src="assets/img/s-steps-3.jpg" alt="").step__img
                li.s-steps__item
                    .step.step--4
                        .step__caption Аудит организации
                        .step__picture
                            img(src="assets/img/s-steps-4.jpg" alt="").step__img
                li.s-steps__item
                    .step.step--5
                        .step__caption Выезд экспертов
                        .step__picture
                            img(src="assets/img/s-steps-5.jpg" alt="").step__img
                li.s-steps__item
                    .step.step--6
                        .step__caption Выдача сертификата
                        .step__picture
                            img(src="assets/img/s-steps-6.jpg" alt="").step__img

            .s-steps__pop-container
                +pop-info(class="pop-info--left s-steps__pop-info")
                    <strong>После прохождения аудита</strong> вы сможете продемонстрировать своим клиентам, что ваша компания использует лучшие практики и технологии в своей деятельности.

            p.s-steps__text Узнайте уже сейчас, какие вам понадобятся документы для шага №&nbsp;1
            button.button.s-steps__button.js-popup-form-docs Узнать список
