mixin s-about()
    section.s-about&attributes(attributes)
        .s-about__inner
            h2.s-about__title Team Expert SM <span>-&nbsp;это</span>
            ul.s-about__list
                li.s-about__item
                    .s-about__caption
                        .s-about__caption-in <span>10</span> опытных
                    .s-about__subcaption экспертов
                    p.s-about__text Аудиторов – профессионалов экстра-класса. Каждый из них аттестован сразу по нескольким направлениям.
                li.s-about__item
                    .s-about__caption
                        .s-about__caption-in более <span>20</span>
                    .s-about__subcaption лет опыта
                    p.s-about__text Наши специалисты стояли у самых истоков сертификации и все эти годы активно участвуют в разработке стандартов.
                li.s-about__item
                    .s-about__caption
                        .s-about__caption-in в сумме <span>753</span>
                    .s-about__subcaption сертификата
                    p.s-about__text Почти 1000 выданных сертификатов.
