.s-offer
    background #fff url(img/s-offer-bg.jpg) no-repeat center bottom
    &__inner
        container(1040px)
        padding 110px 20px 75px
        min-height 580px
        +below(479px)
            padding 50px 20px

    &__title
        color #009457
        font(Extra)
        fs(24px,40px)
        line-height 1
        margin 0 0 .75em
        +below(991px)
            text-align center

    &__text
        color #002d1a
        font(Bold)
        fs(16px,20px)
        line-height 1.5
        margin 0 0 2em
        +below(991px)
            text-align center

    &__box
        display block
        width 100%
        max-width 470px
        position absolute
        bottom 90px
        right 20px
        +below(991px)
            position relative
            margin 0 auto 30px
            bottom auto
            right auto

    &__offer
        color #32c186
        font(Extra)
        fs(24px,40px)
        line-height 1
        text-align center
        margin 0 auto 35px

    &__serts
        display block
        width 100%
        max-width 470px
        height auto
        margin 0 auto

    &__form
        margin 0
        +below(991px)
            margin 0 auto

.form-offer
    display block
    width 100%
    max-width 330px

    &__input
        display block
        margin 0 auto 20px

    &__button
        fs(18px,26px)
        margin 30px auto 0
