mixin header()
    header.header&attributes(attributes)
        .header__inner
            img(src="assets/img/header-logo.png" alt="TEAM EXPERT").header__logo
            .header__contacts
                a(href="tel:87172577967").header__phone 8 (7172) <strong>577-967</strong>
                address.header__address Астана, ул. С. Сейфуллина 40, оф.11

            ul.header__list
                li.header__item ISO&nbsp;9001
                li.header__item ISO&nbsp;14001
                li.header__item ISO&nbsp;50001
                li.header__item ISO&nbsp;22000
                li.header__item ISO&nbsp;29001
                li.header__item OHSAS&nbsp;18001

            h1.header__title Получение сертификата <span>ISO</span> по&nbsp;всему Казахстану
            p.header__subtitle Профессиональный экспертный аудит компании
            button.button.header__button Отправить заявку
            p.header__underbutton на предварительный расчет стоимости
