include ../pop-info/pop-info

mixin s-consult()
    section.s-consult&attributes(attributes)
        .s-consult__inner

            form(action="assets/sendmail.php" method="POST").form-consult.s-consult__form#form-consult
                input(type="hidden" name="form" value="form-consult")
                h2.form-consult__title Экспресс-консультация
                p.form-consult__text Хотите получить профессиональную и бесплатную консультацию по вашей проблеме? Закажите её прямо сейчас!
                .form-consult__group
                    .input.input--consult.input--phone.form-consult__input
                        input(type="tel" name="phone").input__input.js-phone-field
                        .input__placeholder <span>+7</span> (___) __-__-___
                    button(type="submit").form-consult__button

            +pop-info(class="pop-info--left s-consult__pop-info")
                <strong>Окончательная стоимость</strong> получения сертификата определяется после первичного анализа заявки и представленной документации.

            .s-consult__auditor
                h3.s-consult__name Марина Тё
                p.s-consult__position Эксперт-аудитор

            img(src="assets/img/s-consult-auditor.png" alt="").s-consult__photo

