include ../pop-info/pop-info

mixin s-audit()
    section.s-audit&attributes(attributes)
        .s-audit__inner
            +pop-info(class="pop-info--left s-audit__pop-info")
                <strong>Полноценный аудит компании имеет двойной эффект:</strong> моментальное усовершенствование бизнес-процессов и постепенные изменения, вызывающие рост доходов организации, её имиджа и общей конкурентоспособности на рынке
            a(href="#steps").s-audit__step-link.js-scrollto этап
            .s-audit__box
                h2.s-audit__title Профессиональный аудит вашей компании
                p.s-audit__text <strong>Сертификация</strong> – это не просто получение сертификата. Это независимая и качественная оценка вашей компании грамотными и опытными аудиторами, которые помогут вам понять все преимущества и недостатки вашего бизнеса.
                p.s-audit__text <strong>Вы получите ощутимую пользу</strong> от работы с нами и найдете новые возможности для улучшения и развития вашего бизнеса. Вы сможете увидеть, где есть потенциальная опасность для вашего бизнеса, а потом – задушить её в зародыше.
